<div class="col-md-12 text-center">
  <h3 ng-bind="::$goodsCtrl.category.description"></h3>
</div>
<section id="goods">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center" ng-repeat="prod in $goodsCtrl.goods">
        <div class="panel panel-danger panel-pricing">
          <div class="panel-heading">
            <i class="fa fa-desktop"></i>
            <h3 ng-bind="::prod.name"></h3>
          </div>
          <div class="panel-body text-center">
            <img ng-src="{{::prod.img}}" class="img-thumbnail" alt="Image" style="max-height: 200px">
          </div>
          <div class="panel-body text-center">
            <p>
              <strong>
                Price:
                <span ng-bind="$goodsCtrl.getPrice(prod.price)"></span>
                <span ng-bind="$goodsCtrl.getCurrencySymbol()"></span> /
                Max count:
                <span ng-bind="prod.maxCount"></span>
              </strong>
            </p>
          </div>
          <ul class="list-group text-center">
            <li class="list-group-item">
              <i class="fa fa-check"></i>
              <span ng-bind="::prod.description"></span>
            </li>
          </ul>
          <div class="panel-body text-center">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" data-type="minus" ng-click="$goodsCtrl.countMinus(prod)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" class="form-control" ng-model="prod.count" min="1" max="{{::prod.maxCount}}">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" data-type="plus" ng-click="$goodsCtrl.countPlus(prod)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-control-static">
                Total:
                <span ng-bind="$goodsCtrl.getTotalPrice(prod)"></span>
                <span ng-bind="$goodsCtrl.getCurrencySymbol()"></span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn-lg btn-block btn-danger" ng-click="$goodsCtrl.addToCart(prod)">BUY NOW!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
