<div class="col-md-12 text-center">
  <h3>Add Ration Card</h3>
</div>
<section id="additional">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <div class="panel panel-danger panel-pricing">
          <div class="panel-heading">
            <i class="fa fa-desktop"></i>
            <h3>
              Enter your ration card data
              <br>
              <small>Its just test page</small>
            </h3>
          </div>
          <div class="panel-body text-center">
            <img src="http://i.imgur.com/KkuYcRf.jpg" class="img-thumbnail" alt="Image" style="max-height: 400px">
          </div>
          <ul class="list-group text-center">
            <li class="list-group-item">
              In order to be able to order more goods - fill your ration card details
            </li>
          </ul>
          <div class="input-group">
            <span class="input-group-addon">Ration card number:</span>
            <input type="text" class="form-control" placeholder="Enter ration card number">
          </div>
          <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-lg btn-danger" ng-click="$additionalCtrl.toCart()">Goto cart</button>
              <button class="btn btn-lg btn-success" ng-click="$additionalCtrl.acceptRationCard()">Accept ration card</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
