<div class="col-md-12 text-center">
  <h3>
    Your cart
    <span ng-if="!$cartCtrl.cart.length"> is empty!</span>
    <span ng-if="$cartCtrl.cost">
      Total cost =
      <span ng-bind="$cartCtrl.getPrice($cartCtrl.cost)"></span>
      <span ng-bind="$cartCtrl.getCurrencySymbol()"></span>
    </span>
  </h3>
</div>
<section id="cart">
  <div class="container">
    <table class="table table-striped app-table" ng-if="$cartCtrl.cart.length">
      <thead>
        <tr>
          <th>Img</th>
          <th>Name</th>
          <th colspan="2">Count</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="prod in $cartCtrl.cart">
          <td>
            <img ng-src="{{::prod.img}}" class="img-thumbnail" alt="Image" style="max-height: 50px">
          </td>
          <td ng-bind="::prod.name"></td>
          <td>
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-type="minus" ng-click="$cartCtrl.countMinus(prod)">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </span>
              <input type="text" class="form-control" ng-model="prod.count" ng-change="$cartCtrl.changedCount(prod)" min="1" max="{{::prod.maxCount}}">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-type="plus" ng-click="$cartCtrl.countPlus(prod)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>
          </td>
          <td>
            Price:
            <span ng-bind="$cartCtrl.getPrice(prod.price)"></span>
            <span ng-bind="$cartCtrl.getCurrencySymbol()"></span> /
            Cost:
            <span ng-bind="$cartCtrl.getTotalPrice(prod)"></span>
            <span ng-bind="$cartCtrl.getCurrencySymbol()"></span>
            (Max count: <span ng-bind="::prod.maxCount"></span>)
          </td>
          <td><button class="btn btn-sm btn-danger" ng-click="$cartCtrl.deleteFromCart(prod)">DELETE NOW!</button></td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td><button class="btn btn-success" ng-click="$cartCtrl.saveChanges()">Save changes ant take my money</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
