<div class="col-md-12 text-center">
  <h3>
    <span class="text-danger">&#9734;</span>
    Our clients
    <span class="text-danger">&#9734;</span>
  </h3>
</div>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tLuo1Q9enEc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
