<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="category in $appCtrl.categories" ng-class="{'active': $appCtrl.isActiveTab('goods', category.id)}">
          <a ui-sref="goods({category: category.id})" ng-bind="::category.name"></a>
        </li>
        <li ng-class="{'active': $appCtrl.isActiveTab('cart')}">
          <a ui-sref="cart">
            Cart
            <span ng-if="$appCtrl.getCartCost() > 0">
              (<span ng-bind="$appCtrl.getCartCost()"></span><span ng-bind="$appCtrl.getCurrencySymbol()"></span>)
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{'active': $appCtrl.isActiveTab('about')}">
          <a ui-sref="about">Our clients</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <span>
          Select coure... carren... currency:
        </span>
        <select class="form-control" ng-model="$appCtrl.mainCourse" ng-change="$appCtrl.changeCurrency($appCtrl.mainCourse)">
          <option ng-repeat="course in $appCtrl.courses" ng-value="course">
            {{::course.CharCode}} {{::course.Symbol}}
          </option>
        </select>
      </form>
    </div>
  </div>
</nav>
<ui-view></ui-view>
